
#hero{
        z-index: 0;
        height: 100vh;
        width: 100%;

        #scroll{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: absolute;
            bottom:10vh;
            left: 50%;
            a{
                text-decoration: none;
                font-size: large;
                color: #deee01;

            }
            i{
                margin: 1rem;
                
                }
                &:hover{color: red;
            }
        }
        #typingAnimation{
            position: absolute;
            top:35vh;
            left: 25vh;
            z-index: 1;
        }
        h1{
            font-size: 7rem;
            color: #e80fe8;
        }
        h2{
            font-size: 4.5rem;
            color: #0ecda0;
        }
        button{
            height: 5rem;
            width: 15rem;
            background: none;
            margin: 3rem 1rem 0rem 0rem;
            border-radius: 0.5rem;
            border: 0.1rem dotted #0ecda0;
            font-size: 1.7rem;
            font-weight:550;
            font-family: "Space Mono", monospace;
            color: #0ecda0;
        
            &:hover{
                color: #e80fe8;
                border: 0.1rem dotted #deee01;
                background-color: #deee01;
                
            }
        } 
}
