@mixin flex($justify, $align, $direction) {
    display: flex;
    justify-content: $justify;
    align-items:$align;
    flex-direction: $direction;
}
@import 'global';
@import 'hero';
@import 'verticalNav';
@import 'background';
@import 'aboutMe';
@import 'myProjects';
@import 'contactMe';
@import 'footer';